<html>
<head>
    {{> head}}
    {{> pagehead}}
</head>
<body>
    <header>
        {{> header}}
    </header>

    <p>
        Directly in layout.html.hbs
    </p>
    {{~> page}}

    {{> footer}}
</body>
</html>